@import url(theme.css);

/* Starter Global Styles */

* {
  box-sizing: border-box;
  color: var(--color-text);
  font-family: "MesloLGS NF", monospace, "Roboto", sans-serif;
  font-size: 100%;
}

body,
html {
  background-color: var(--color-background);
}

body,
html {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  font-size: 100%;
  font-weight: 500;
}

h1 {
  font-size: 200%;
  font-weight: 700;
}

h2 {
  font-size: 160%;
  font-weight: 700;
}

h3 {
  font-size: 135%;
  font-weight: 700;
}

h4 {
  font-size: 110%;
  font-weight: 500;
}

/* Label */
h5 {
  font-size: 90%;
  font-weight: 400;
}

ul {
  font-size: 100%;
  padding-left: 18px;
}

li {
  font-size: 100%;
}

main {
  max-width: var(--default-max-width);
  margin: 0 auto;
  padding: 0 1rem;
}

/* End Starter Global Styles */

/* Header */

.header {
  background-color: var(--color-primary);
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-title {
  color: var(--color-on-primary);
  font-weight: 700;
  margin: 0;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 0.5rem;
  padding: 0;
}

.navbar-item a {
  color: var(--color-on-primary);
  font-size: 120%;
  text-decoration: none;
  transition: 0.2s ease-in;
}

.navbar-item a:hover {
  color: var(--color-on-primary);
  opacity: 0.5;
}

/* End Header */

/* Extra */

button {
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.5rem;
  color: var(--color-on-primary);
  cursor: pointer;
  font-size: 120%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: 0.2s ease-in;
}

button:hover {
  opacity: 0.8;
}

.card {
  background-color: var(--color-light);
  border-radius: 0.5rem;
  border: 2px solid var(--color-primary);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 16px;
  padding: 16px;
}

/* End Extra */
