:root {
  /* Theme Colors */
  --color-primary: #1d515c;
  --color-secondary: #4c766c;
  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-background: #212529;
  --color-text: #fff;
  --color-on-primary: #fff;

  /* End of Theme Colors */

  --default-max-width: 900px;
}
