:root {
  /* Theme Colors */
  --color-primary: #1d515c;
  --color-secondary: #4c766c;
  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-light: #e2e3e4;
  --color-dark: #343a40;
  --color-background: #212529;
  --color-text: #cdc9c9;
  --color-on-primary: #d6d6d6;

  /* End of Theme Colors */

  --default-max-width: 56.25rem;
}
