@media print {
  @page {
    margin: 0 !important;
  }

  /* General */

  body {
    padding: 38px !important;
  }

  header {
    display: none !important;
  }

  footer {
    display: none !important;
  }

  /* Extra */

  .card {
    border: none !important;
    box-shadow: none !important;
    border-radius: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  .print-me {
    display: none !important;
  }
}
