.business-card {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.business-card-containter {
  margin: 32px;
  margin-top: 10vh;
}

.business-card h1,
.business-card h2,
.business-card,
.business-card .contact-list ul {
  margin: 4px 0;
}

.business-card .contact-list ul {
  display: flex;
  justify-content: start;
  list-style: none;
  padding-left: 0;
}

.business-card .contact-list ul li {
  padding-right: 8px;
}
