.contact-list ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

.contact-list ul li {
  align-items: center;
  display: flex;
}

.contact-list ul li a {
  align-items: center;
  display: flex;
  font-size: 90%;
  margin: 0 8px;
}

.contact-list ul li a img {
  padding-right: 2px;
}

.contact-list ul li img {
  display: inline;
  align-items: center;
}

.exp-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2px;
  margin-top: 0;
}

.exp-sub-title {
  margin: 0;
  margin-top: auto;
}

.exp-title {
  margin: 0;
  margin-right: 16px;
}

.exp-sub-heading {
  margin-top: 0;
  margin-bottom: 2px;
  font-style: italic;
}

.resume-header {
  margin: 0;
  text-align: center;
}

.resume-header::after {
  content: "Resume";
}

section {
  margin-top: 12px;
}

.section-content {
  margin: 0;
}

.sub-heading {
  margin-top: 0;
  margin-bottom: 2px;
}

.print-me {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.skill-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 48px;
}

.skill-lists ul {
  margin-top: 0;
  padding-top: 0;
}

@media print {
  .resume-header::after {
    content: "Alex Palomin";
  }
}
